.DS_Store
.venv/
__pycache__/
*.pyc
.pytest_cache/
.env
.idea/
.vscode/
build/
dist/
*.egg-info/
resources/
.ruff_cache/
AGENTS.md
.mypy_cache/
.pytest_cache/
sanitize_pyproject.py
pyproject.sanitized.toml.python-version
